/**
 *  tSlideshow v1.1 CSS
 *  http://mohsen.khahani.com/tslideshow
 */

.tslideshow {
  position: relative;
  overflow: hidden;
}
.tslideshow-container {
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.tslideshow-pagination {
  margin-top: 20px;
  text-align: center;
  direction: ltr;
}
.tslideshow-pagination span {
  display: inline-block;
  width: 16px; 
  height: 16px; 
  margin: 0 2px; 
  background: url(pagination.gif) top no-repeat; 
  cursor: pointer; 
}
.tslideshow-pagination .current {
  background: url(pagination.gif) 0 -16px no-repeat;
}
.tslideshow-subtitle {
  font: 12px tahoma;
  color: white;
  padding: 10px 0;
}
